<p>Lista de Productos</p>
<button type="button" class="btn btn-success" routerLink="/agregarproducto">AGREGAR NUEVO PRODUCTO</button>

<table class="table" >

  <thead>
  <tr>
    <th scope="col">Id Producto</th>
    <th scope="col">Id Proveedor</th>
    <th scope="col">Id Anaquel</th>
    <th scope="col">Nombre</th>
    <th scope="col">Descripcion</th>
    <th scope="col">Precio producto</th>
    <th scope="col">Cantidad Disponible</th>
    <th scope="col">Editar</th>
    <th scope="col">Eliminar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let i of lista">
    <th scope="row">{{i.IdProducto}}</th>
    <th scope="row">{{i.IdProveedor}}</th>
    <th scope="row">{{i.IdAnaquel}}</th>
    <td>{{i.nombre}}</td>
    <td>{{i.descripcion}}</td>
    <td>{{i.precio_producto}}</td>
    <td>{{i.cantidad_producto}}</td>
    <td>
      <button type="button" routerLink="/editarproducto" (click)="modificarproducto(i.IdProducto)"   class="btn btn-primary">Editar producto</button>
    </td>
    <td>
      <button type="button" (click)="Eliminarproducto((i.IdProducto))" class="btn btn-danger">Eliminar</button>
    </td>


  </tr>

  </tbody>
</table>
